
<br>
   <div class="p-6 max-w-xl mx-auto bg-gray-100 shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">{{ 'addCar' | translate }}</h2>
  
    <form (ngSubmit)="submit()" #carForm="ngForm" class="space-y-6">
      <!-- License Plate Input -->
      <div>
        <label for="licensePlate" class="block text-sm font-semibold text-gray-800">{{ 'licensePlate' | translate }}</label>
        <input
          type="text"
          name="licensePlate"
          [(ngModel)]="car.licensePlate"
          required
          placeholder="Enter License Plate"
          class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-200"
        />
      </div>
  
      <!-- Car Model Input -->
      <div>
        <label for="model" class="block text-sm font-semibold text-gray-800">{{ 'carModel' | translate }}</label>
        <input
          type="text"
          name="model"
          [(ngModel)]="car.model"
          required
          placeholder="Enter Car Model"
          class="w-full p-3 mt-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-200"
        />
      </div>
  
      <!-- Submit Button -->
      <button
        type="submit"
        [disabled]="!carForm.form.valid"
        class="w-full py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition duration-200 disabled:bg-blue-300 disabled:cursor-not-allowed"
      >
        Add Car
      </button>
    </form>
  </div>
  
